
/* тело */
body{
    
    font-family: Arial, sans-serif;
    line-height: 1.5;

}

/*  шапка */

.header {

    background-color:#f0f8ff;
    color: #000;

    width: 900px;
    
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;

}

/* навигация */

.nav {

    background-color:#496883;
    color: #fff;

    margin-top: 20px;
    margin-bottom: 20px;
    
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;

    width: 900px;

}

.nav a {

    margin-right: 30px;   
    color: #fff;

}

.nav a:last-child {

    margin-right: 0;

}

/* контент */

.main {

    background-color: #dcebf0;

    margin-top: 20px;
    margin-bottom: 20px;

    padding: 40px;

    width: 900px;

}    

/* подвал */

.footer {

    background-color: #1d3f5e;
    color: #fff;

    margin-top: 20px;
    margin-bottom: 20px;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;

    width: 900px;

}

/* заголовки, абзаци */

h1, h2, h3 {
        
    line-height: 1;
    margin-top: 0;
    margin-bottom: 24px;

}

    h1 {font-size: 42px;}

    h2 {font-size: 32px;}

    h3 {font-size: 26px;}

    p {font-size: 16px;}

/* цитаты */

blockquote {

    font-size: 18px;

    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 0;
    margin-right: 0;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;

    border-left: 3px solid #f24137;

}

/* это надо или нет? в задании (тз) нет (по крайне мере я не нашел) а в видео есть. */

article {margin-bottom: 50px;}

article:last-child {margin-bottom: 0;}
